USE [master]
GO
/****** Object:  Database [BudgetBuddy]    Script Date: 6/28/2025 1:15:47 AM ******/
CREATE DATABASE [BudgetBuddy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BudgetBuddy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\BudgetBuddy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BudgetBuddy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\BudgetBuddy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BudgetBuddy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BudgetBuddy]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 6/28/2025 1:15:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[allowance] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyExpenses]    Script Date: 6/28/2025 1:15:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyExpenses](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[DayOfWeek] [nvarchar](20) NOT NULL,
	[TotalExpense] [float] NOT NULL,
	[ExpenseDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WeeklyExpenses] ADD  DEFAULT (getdate()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[WeeklyExpenses]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[WeeklyExpenses]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyExpenses_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyExpenses] CHECK CONSTRAINT [FK_WeeklyExpenses_Accounts]
GO
USE [master]
GO
